@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/*imports a font from Google Fonts using the @import rule. The url function specifies the location of the font file on the web, in this case, it's the font family "Source Code Pro" from the Google Fonts library.*/

.example>a:nth-child(2), .example>a:nth-child(3) {
    clip: rect(0, 0, 0, 0);
    position: absolute;
    top: 0px;
    left: 20px;
} 

/* Main styles */

body {
    background: #ececec;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-size: .8em;
}

a, a:link {
    color: red;
}

a.readme-icon, a.readme-icon:link {
    color: green;
}

a:active {
    color: #333333;
}

p span {
    display: block;
    padding: 30px 0;
    font-size: .9em;
}



header {
    top: 0;
    left: 0;
    padding: 10px 16px;
    margin-bottom: 0px;
}

    header h1 {
        top: 0;
        left: 20;
        transform-origin: top left;
    }

/*
footer {
    display: block;
    margin: 3em;
    min-height: 160px;
}
    footer p {
        position: absolute;
        bottom: 0;
        left: 20;
        transform-origin: bottom left;
    }
*/
    
.icon {
    position: relative;
    float: left;
    margin: 20px;
}

    .icon a {
        display: block;
        height: 96px;
        width: 128px;
        background: transparent url("../img/folder.png") no-repeat;
        line-height: 170px;
        text-align: center;
    }

    .icon a:hover {
        color: black;
    }

    .icon .file-icon{
        background: transparent url("../img/paper.png") no-repeat;
    }

    .icon .readme-icon {
        background: transparent url("../img/paper.png") no-repeat;
    }


/* override default feather style... */

.hidden-lightbox {
    display: none;
}

.lightbox-content {
    font-family: 'Source Code Pro', monospace;
    padding: 25px;
    color: #333;
}
.featherlight .featherlight-content,
.custom-lightbox .featherlight-content {
    margin-left: 15%;
    margin-right: 15%;
    max-width: 1300px;
}

.featherlight-iframe .featherlight-content {
    width: 70%;
}

.featherlight-iframe .featherlight-content .featherlight-inner {
    width: 100%;
    min-height: 600px;
}

/* element is selected */
.selected, .selected:link {
    color: rgb(185, 195, 5);
}

/* Buttons */

.button-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  button {
    background-color: #fff;
    border: 2px solid #666;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 16px;
    margin-bottom: 0px;
    transition: all 0.2s ease-in-out;
  }
  
  button:last-child {
    margin-bottom: 0;
  }
  
  button:hover {
    background-color: #666;
    color: #fff;
  }
  